body {
  font-size: 0.765vw; /* 원하는 폰트 크기로 설정하세요 */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이만큼 요소를 채우도록 설정 */
  
}

.fade-out {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5; /* 원하는 투명도로 조절하세요 */
}


.container > div {
  margin: 0px;
}

p {
  line-height: 3;
  letter-spacing: 0; /* 자간을 0으로 설정 */
}

@keyframes movemove {
  0% {
      transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
}
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0px);
  }
}

/* 각 클래스에 애니메이션을 적용 */
span {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.a {
  animation: movemove 3s infinite;
  animation-delay: 0s; 
  animation-timing-function: ease-in-out;/* 딜레이 없음 */
}

.b {
  animation: movemove 3s infinite;
  animation-delay: 0.3s; 
  animation-timing-function: ease-in-out;/* 딜레이 없음 */
}

.c {
  animation: movemove 3s infinite;
  animation-delay: 0.6s; 
  animation-timing-function: ease-in-out;/* 0.2초 딜레이 */
}

.d {
  animation: movemove 3s infinite ;
  animation-delay: 0.9s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.e {
  animation: movemove 3s infinite ;
  animation-delay: 1.2s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.f {
  animation: movemove 3s infinite ;
  animation-delay: 1.5s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.g {
  animation: movemove 3s infinite ;
  animation-delay: 1.8s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.h {
  animation: movemove 3s infinite ;
  animation-delay: 2.1s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.i {
  animation: movemove 3s infinite ;
  animation-delay: 2.4s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.j {
  animation: movemove 3s infinite ;
  animation-delay: 2.7s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.k {
  animation: movemove 3s infinite ;
  animation-delay: 3.0s; 
  animation-timing-function: ease-in-out;/* 0.4초 딜레이 */
}

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k {
  animation: movemove 3s infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: paused; 
}